page-menu-levels {
    ion-header {
       color: aqua;
       background: black !important;
    }
    button {
        background: black !important;
        width: 90%;
        margin: 10px 10px;
        padding: 10px; 
        color: aqua;
        font-size: 3rem;
        text-align: left;
        img {
            float: right;
            height: 30px;
        }
    }

    .button-locked {
        background: gray !important;
        color: black;
    }
}
